# Ignore all pycache files
**/__pycache__/**

# Ignore TensorRT plan files
*.plan
*.engine
log/COLCON_IGNORE
log/latest
log/latest_build
log/build_2025-10-08_02-16-28/events.log
log/build_2025-10-08_02-16-28/logger_all.log
log/build_2025-10-08_02-16-28/isaac_ros_yolov8/command.log
log/build_2025-10-08_02-16-28/isaac_ros_yolov8/stderr.log
log/build_2025-10-08_02-16-28/isaac_ros_yolov8/stdout_stderr.log
log/build_2025-10-08_02-16-28/isaac_ros_yolov8/stdout.log
log/build_2025-10-08_02-16-28/isaac_ros_yolov8/streams.log
install/_local_setup_util_ps1.py
install/_local_setup_util_sh.py
install/.colcon_install_layout
install/COLCON_IGNORE
install/local_setup.bash
install/local_setup.ps1
install/local_setup.sh
install/local_setup.zsh
install/setup.bash
install/setup.ps1
install/setup.sh
install/setup.zsh
install/isaac_ros_yolov8/include/isaac_ros_yolov8/yolov8_decoder_node.hpp
install/isaac_ros_yolov8/lib/libyolov8_decoder_node.so
install/isaac_ros_yolov8/lib/isaac_ros_yolov8/isaac_ros_yolov8_visualizer.py
install/isaac_ros_yolov8/local/lib/python3.10/dist-packages/isaac_ros_yolov8/__init__.py
install/isaac_ros_yolov8/local/lib/python3.10/dist-packages/isaac_ros_yolov8-3.2.5-py3.10.egg-info/dependency_links.txt
install/isaac_ros_yolov8/local/lib/python3.10/dist-packages/isaac_ros_yolov8-3.2.5-py3.10.egg-info/PKG-INFO
install/isaac_ros_yolov8/local/lib/python3.10/dist-packages/isaac_ros_yolov8-3.2.5-py3.10.egg-info/SOURCES.txt
install/isaac_ros_yolov8/local/lib/python3.10/dist-packages/isaac_ros_yolov8-3.2.5-py3.10.egg-info/top_level.txt
install/isaac_ros_yolov8/share/ament_index/resource_index/package_run_dependencies/isaac_ros_yolov8
install/isaac_ros_yolov8/share/ament_index/resource_index/packages/isaac_ros_yolov8
install/isaac_ros_yolov8/share/ament_index/resource_index/parent_prefix_path/isaac_ros_yolov8
install/isaac_ros_yolov8/share/ament_index/resource_index/rclcpp_components/isaac_ros_yolov8
install/isaac_ros_yolov8/share/colcon-core/packages/isaac_ros_yolov8
install/isaac_ros_yolov8/share/isaac_ros_yolov8/local_setup.bash
install/isaac_ros_yolov8/share/isaac_ros_yolov8/local_setup.dsv
install/isaac_ros_yolov8/share/isaac_ros_yolov8/local_setup.sh
install/isaac_ros_yolov8/share/isaac_ros_yolov8/local_setup.zsh
install/isaac_ros_yolov8/share/isaac_ros_yolov8/package.bash
install/isaac_ros_yolov8/share/isaac_ros_yolov8/package.dsv
install/isaac_ros_yolov8/share/isaac_ros_yolov8/package.ps1
install/isaac_ros_yolov8/share/isaac_ros_yolov8/package.sh
install/isaac_ros_yolov8/share/isaac_ros_yolov8/package.xml
install/isaac_ros_yolov8/share/isaac_ros_yolov8/package.zsh
install/isaac_ros_yolov8/share/isaac_ros_yolov8/version_info.yaml
install/isaac_ros_yolov8/share/isaac_ros_yolov8/cmake/ament_cmake_export_dependencies-extras.cmake
install/isaac_ros_yolov8/share/isaac_ros_yolov8/cmake/ament_cmake_export_include_directories-extras.cmake
install/isaac_ros_yolov8/share/isaac_ros_yolov8/cmake/ament_cmake_export_libraries-extras.cmake
install/isaac_ros_yolov8/share/isaac_ros_yolov8/cmake/isaac_ros_yolov8Config-version.cmake
install/isaac_ros_yolov8/share/isaac_ros_yolov8/cmake/isaac_ros_yolov8Config.cmake
install/isaac_ros_yolov8/share/isaac_ros_yolov8/environment/ament_prefix_path.dsv
install/isaac_ros_yolov8/share/isaac_ros_yolov8/environment/ament_prefix_path.sh
install/isaac_ros_yolov8/share/isaac_ros_yolov8/environment/library_path.dsv
install/isaac_ros_yolov8/share/isaac_ros_yolov8/environment/library_path.sh
install/isaac_ros_yolov8/share/isaac_ros_yolov8/environment/path.dsv
install/isaac_ros_yolov8/share/isaac_ros_yolov8/environment/path.sh
install/isaac_ros_yolov8/share/isaac_ros_yolov8/environment/pythonpath.dsv
install/isaac_ros_yolov8/share/isaac_ros_yolov8/environment/pythonpath.sh
install/isaac_ros_yolov8/share/isaac_ros_yolov8/hook/cmake_prefix_path.dsv
install/isaac_ros_yolov8/share/isaac_ros_yolov8/hook/cmake_prefix_path.ps1
install/isaac_ros_yolov8/share/isaac_ros_yolov8/hook/cmake_prefix_path.sh
install/isaac_ros_yolov8/share/isaac_ros_yolov8/hook/ld_library_path_lib.dsv
install/isaac_ros_yolov8/share/isaac_ros_yolov8/hook/ld_library_path_lib.ps1
install/isaac_ros_yolov8/share/isaac_ros_yolov8/hook/ld_library_path_lib.sh
install/isaac_ros_yolov8/share/isaac_ros_yolov8/launch/isaac_ros_yolov8_core.launch.py
install/isaac_ros_yolov8/share/isaac_ros_yolov8/launch/isaac_ros_yolov8_isaac_sim.launch.py
install/isaac_ros_yolov8/share/isaac_ros_yolov8/launch/isaac_ros_yolov8_visualize.launch.py
install/isaac_ros_yolov8/share/isaac_ros_yolov8/launch/yolov8_tensor_rt.launch.py
.gitignore
build/.built_by
build/COLCON_IGNORE
build/isaac_ros_yolov8/cmake_args.last
build/isaac_ros_yolov8/cmake_install.cmake
build/isaac_ros_yolov8/CMakeCache.txt
build/isaac_ros_yolov8/colcon_build.rc
build/isaac_ros_yolov8/colcon_command_prefix_build.sh
build/isaac_ros_yolov8/colcon_command_prefix_build.sh.env
build/isaac_ros_yolov8/CTestConfiguration.ini
build/isaac_ros_yolov8/CTestCustom.cmake
build/isaac_ros_yolov8/CTestTestfile.cmake
build/isaac_ros_yolov8/install_manifest.txt
build/isaac_ros_yolov8/libyolov8_decoder_node.so
build/isaac_ros_yolov8/Makefile
build/isaac_ros_yolov8/version_info.yaml
build/isaac_ros_yolov8/.cmake/api/v1/query/client-colcon-cmake/codemodel-v2
build/isaac_ros_yolov8/.cmake/api/v1/reply/codemodel-v2-4ec1c0b105023fa82583.json
build/isaac_ros_yolov8/.cmake/api/v1/reply/directory-.-Release-f02387aa1c32d0a594bd.json
build/isaac_ros_yolov8/.cmake/api/v1/reply/index-2025-10-08T02-16-35-0660.json
build/isaac_ros_yolov8/.cmake/api/v1/reply/target-ament_cmake_python_build_isaac_ros_yolov8_egg-Release-b8931191fed285fcfcd3.json
build/isaac_ros_yolov8/.cmake/api/v1/reply/target-ament_cmake_python_copy_isaac_ros_yolov8-Release-de1b612b6895f3e85f3d.json
build/isaac_ros_yolov8/.cmake/api/v1/reply/target-generate_version_info_target_isaac_ros_yolov8-Release-81d3cae6b4b4bb968dce.json
build/isaac_ros_yolov8/.cmake/api/v1/reply/target-isaac_ros_yolov8_uninstall-Release-a8f7898665db9ea8787d.json
build/isaac_ros_yolov8/.cmake/api/v1/reply/target-uninstall-Release-67754ed130e52bb2776b.json
build/isaac_ros_yolov8/.cmake/api/v1/reply/target-yolov8_decoder_node-Release-bac85fa140787c83f2d4.json
build/isaac_ros_yolov8/CMakeFiles/cmake.check_cache
build/isaac_ros_yolov8/CMakeFiles/CMakeDirectoryInformation.cmake
build/isaac_ros_yolov8/CMakeFiles/CMakeOutput.log
build/isaac_ros_yolov8/CMakeFiles/CMakeRuleHashes.txt
build/isaac_ros_yolov8/CMakeFiles/Makefile.cmake
build/isaac_ros_yolov8/CMakeFiles/Makefile2
build/isaac_ros_yolov8/CMakeFiles/progress.marks
build/isaac_ros_yolov8/CMakeFiles/TargetDirectories.txt
build/isaac_ros_yolov8/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/isaac_ros_yolov8/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/isaac_ros_yolov8/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/isaac_ros_yolov8/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/isaac_ros_yolov8/CMakeFiles/3.22.1/CMakeSystem.cmake
build/isaac_ros_yolov8/CMakeFiles/3.22.1/CompilerIdC/a.out
build/isaac_ros_yolov8/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/isaac_ros_yolov8/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/isaac_ros_yolov8/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_build_isaac_ros_yolov8_egg.dir/build.make
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_build_isaac_ros_yolov8_egg.dir/cmake_clean.cmake
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_build_isaac_ros_yolov8_egg.dir/compiler_depend.make
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_build_isaac_ros_yolov8_egg.dir/compiler_depend.ts
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_build_isaac_ros_yolov8_egg.dir/DependInfo.cmake
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_build_isaac_ros_yolov8_egg.dir/progress.make
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_copy_isaac_ros_yolov8.dir/build.make
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_copy_isaac_ros_yolov8.dir/cmake_clean.cmake
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_copy_isaac_ros_yolov8.dir/compiler_depend.make
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_copy_isaac_ros_yolov8.dir/compiler_depend.ts
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_copy_isaac_ros_yolov8.dir/DependInfo.cmake
build/isaac_ros_yolov8/CMakeFiles/ament_cmake_python_copy_isaac_ros_yolov8.dir/progress.make
build/isaac_ros_yolov8/CMakeFiles/generate_version_info_target_isaac_ros_yolov8.dir/build.make
build/isaac_ros_yolov8/CMakeFiles/generate_version_info_target_isaac_ros_yolov8.dir/cmake_clean.cmake
build/isaac_ros_yolov8/CMakeFiles/generate_version_info_target_isaac_ros_yolov8.dir/compiler_depend.make
build/isaac_ros_yolov8/CMakeFiles/generate_version_info_target_isaac_ros_yolov8.dir/compiler_depend.ts
build/isaac_ros_yolov8/CMakeFiles/generate_version_info_target_isaac_ros_yolov8.dir/DependInfo.cmake
build/isaac_ros_yolov8/CMakeFiles/generate_version_info_target_isaac_ros_yolov8.dir/progress.make
build/isaac_ros_yolov8/CMakeFiles/isaac_ros_yolov8_uninstall.dir/build.make
build/isaac_ros_yolov8/CMakeFiles/isaac_ros_yolov8_uninstall.dir/cmake_clean.cmake
build/isaac_ros_yolov8/CMakeFiles/isaac_ros_yolov8_uninstall.dir/compiler_depend.make
build/isaac_ros_yolov8/CMakeFiles/isaac_ros_yolov8_uninstall.dir/compiler_depend.ts
build/isaac_ros_yolov8/CMakeFiles/isaac_ros_yolov8_uninstall.dir/DependInfo.cmake
build/isaac_ros_yolov8/CMakeFiles/isaac_ros_yolov8_uninstall.dir/progress.make
build/isaac_ros_yolov8/CMakeFiles/uninstall.dir/build.make
build/isaac_ros_yolov8/CMakeFiles/uninstall.dir/cmake_clean.cmake
build/isaac_ros_yolov8/CMakeFiles/uninstall.dir/compiler_depend.make
build/isaac_ros_yolov8/CMakeFiles/uninstall.dir/compiler_depend.ts
build/isaac_ros_yolov8/CMakeFiles/uninstall.dir/DependInfo.cmake
build/isaac_ros_yolov8/CMakeFiles/uninstall.dir/progress.make
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/build.make
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/cmake_clean.cmake
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/compiler_depend.make
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/compiler_depend.ts
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/depend.make
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/DependInfo.cmake
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/flags.make
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/link.txt
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/progress.make
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/src/yolov8_decoder_node.cpp.o
build/isaac_ros_yolov8/CMakeFiles/yolov8_decoder_node.dir/src/yolov8_decoder_node.cpp.o.d
build/isaac_ros_yolov8/ament_cmake_core/isaac_ros_yolov8Config-version.cmake
build/isaac_ros_yolov8/ament_cmake_core/isaac_ros_yolov8Config.cmake
build/isaac_ros_yolov8/ament_cmake_core/package.cmake
build/isaac_ros_yolov8/ament_cmake_core/stamps/ament_cmake_export_dependencies-extras.cmake.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/ament_cmake_export_include_directories-extras.cmake.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/ament_cmake_export_libraries-extras.cmake.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/ament_prefix_path.sh.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/library_path.sh.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/nameConfig-version.cmake.in.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/nameConfig.cmake.in.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/package_xml_2_cmake.py.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/package.xml.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/path.sh.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/pythonpath.sh.in.stamp
build/isaac_ros_yolov8/ament_cmake_core/stamps/templates_2_cmake.py.stamp
build/isaac_ros_yolov8/ament_cmake_environment_hooks/ament_prefix_path.dsv
build/isaac_ros_yolov8/ament_cmake_environment_hooks/library_path.dsv
build/isaac_ros_yolov8/ament_cmake_environment_hooks/local_setup.bash
build/isaac_ros_yolov8/ament_cmake_environment_hooks/local_setup.dsv
build/isaac_ros_yolov8/ament_cmake_environment_hooks/local_setup.sh
build/isaac_ros_yolov8/ament_cmake_environment_hooks/local_setup.zsh
build/isaac_ros_yolov8/ament_cmake_environment_hooks/package.dsv
build/isaac_ros_yolov8/ament_cmake_environment_hooks/path.dsv
build/isaac_ros_yolov8/ament_cmake_environment_hooks/pythonpath.dsv
build/isaac_ros_yolov8/ament_cmake_environment_hooks/pythonpath.sh
build/isaac_ros_yolov8/ament_cmake_export_dependencies/ament_cmake_export_dependencies-extras.cmake
build/isaac_ros_yolov8/ament_cmake_export_include_directories/ament_cmake_export_include_directories-extras.cmake
build/isaac_ros_yolov8/ament_cmake_export_libraries/ament_cmake_export_libraries-extras.cmake
build/isaac_ros_yolov8/ament_cmake_index/share/ament_index/resource_index/package_run_dependencies/isaac_ros_yolov8
build/isaac_ros_yolov8/ament_cmake_index/share/ament_index/resource_index/packages/isaac_ros_yolov8
build/isaac_ros_yolov8/ament_cmake_index/share/ament_index/resource_index/parent_prefix_path/isaac_ros_yolov8
build/isaac_ros_yolov8/ament_cmake_index/share/ament_index/resource_index/rclcpp_components/isaac_ros_yolov8
build/isaac_ros_yolov8/ament_cmake_package_templates/templates.cmake
build/isaac_ros_yolov8/ament_cmake_python/isaac_ros_yolov8/setup.py
build/isaac_ros_yolov8/ament_cmake_python/isaac_ros_yolov8/isaac_ros_yolov8/__init__.py
build/isaac_ros_yolov8/ament_cmake_python/isaac_ros_yolov8/isaac_ros_yolov8.egg-info/dependency_links.txt
build/isaac_ros_yolov8/ament_cmake_python/isaac_ros_yolov8/isaac_ros_yolov8.egg-info/PKG-INFO
build/isaac_ros_yolov8/ament_cmake_python/isaac_ros_yolov8/isaac_ros_yolov8.egg-info/SOURCES.txt
build/isaac_ros_yolov8/ament_cmake_python/isaac_ros_yolov8/isaac_ros_yolov8.egg-info/top_level.txt
build/isaac_ros_yolov8/ament_cmake_uninstall_target/ament_cmake_uninstall_target.cmake
